{% extends "base.html" %}
{% set active_page = "login" %}

{% block js_imports %}
	<script src="/static/js/sha256.js"></script>
	<script>
	function pwd_bind(elem1, elem2) {
		$(elem1).blur(function() {
			$(elem2).val(Sha256.hash($(elem1).val()));
		});
	}
	$(document).ready(function() {
		pwd_bind("#login_password", "[name=login] #pwd_secret")
		pwd_bind("#reg_password", "[name=register] #pwd_secret")
		pwd_bind("#reg_password_repeat", "[name=register] #pwd2_secret")
	});
</script>
{% endblock %}
{% block content %}
	<div id="login">
		<form action="{{ url_for('login') + '/login' }}" method="post" name="login">
		{{ login.hidden_tag() }}
		{% for error in login.errors %}
			<span style="color: red;">{{ error }}</span>
		{% endfor %}
		<table>
			<tr><td>{{ login.email.label }}</td>
			<td>{{ login.email(size=20) }}</td></tr>
			<tr><td><label for="login_password">Enter password:</label></td>
			<td><input id="login_password" name="login_password" size="20" type="password" value=""></td></tr>
			<tr><td><input id="login_submit" type="submit" value="Log in"></td></tr>
		</table>
		</form>
	</div>
	<div id="registration">
		<form action="{{ url_for('login') + '/register' }}" method="post" name="register">
		{{ reg.hidden_tag() }}
		{% for error in reg.errors %}
			<span style="color: red;">{{ error }}</span>
		{% endfor %}
		<table>
			<tr><td>{{ reg.email.label }}</td>
			<td>{{ reg.email(size=20) }}</td></tr>
			<tr><td><label for="reg_password">Enter password</label></td>
			<td><input id="reg_password" name="reg_password" size="20" type="password"></td></td></tr>
			<tr><td><label for="reg_password_repeat">Re-enter password:</label></td>
			<td><input id="reg_password_repeat" name="reg_password_repeat" size="20" type="password"></td></tr>
			<tr><td>{{ reg.name.label }}</td>
			<td>{{ reg.name(size=20) }}</td></tr>
			<tr><td><input id="reg_submit" type="submit" value="Register"></td></tr>
		</table>
		</form>
	</div>
	<p>Or you can login using one of the following providers:
	<ul>
	{% for button in buttons %}
		<li><a href="{{ url_for('login') + "/" + button }}">{{ button }}</a></li>
	{% endfor %}
	</ul>
	</p>
{% endblock %}