<html>

<head>
	{% if title %}
	<title>{{ title }} - with Flask</title>
	{% else %}
	<title>RA Scheduler - with Flask</title>
	{% endif %}

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/scheduler-template.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% set navigation_bar = [
  ('/index', 'index', 'Home'),
  ('/view_schedules', 'view_schedules', 'View my schedules'),
  ('/manage_schedules', 'manage_schedules', 'Manage schedules')
] -%}

{% set active_page = active_page|default('index') -%}

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">Project Scheduler</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
	  {% for href, id, caption in navigation_bar %}
	  <li{% if id == active_page %} class="active"{% endif %}>
	    <a href="{{ href|e }}">{{ caption|e }}</a>
	  </li>
	  {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  
  <div class="container theme-showcase" role="main">
    <div class="span12">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

</html>
