<head>

    <title>Welcome to the RA-Scheduler</title>

    <link href="/static/css/shared/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dashboard/sb-admin.css" rel="stylesheet">
    <link href="/static/css/dashboard/plugins/morris.css" rel="stylesheet">
    <link href="/static/css/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/static/js/shared/jquery-2.1.3.min.js" defer></script>
    <script src="/static/js/shared/bootstrap.min.js" defer></script>

    <!-- angular stuff -->
    <script src="/static/js/shared/angular.min.js" defer></script>
    <script src="/static/js/shared/angular-ui-router.min.js" defer></script>
    <script src="/static/js/app.js" defer></script>
    <script src="/static/js/services/RESTApiService.js" defer></script>
    <script src="/static/js/services/CalendarService.js" defer></script>
    <script src="/static/js/services/TeamService.js" defer></script>
    <script src="/static/js/controllers/DashboardController.js" defer></script>
    <script src="/static/js/controllers/ManagementControllers.js" defer></script>

</head>

<body ng-app="RAScheduler" ng-controller='DashboardController'>

    <input type="hidden" id="hidden-user-email" value="{{ current_user.email }}" />

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">RA-Scheduler</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        {% if current_user.gender == 'male' %}Mr.{% else %}Ms.{% endif %}
                        {{current_user.given_name }} {{ current_user.family_name }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>{{ current_user.email }}</li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="manage" data-toggle="collapse" data-target="#manage-options"><i class="fa fa-fw fa-bar-chart-o"></i> Manage your Teams</a>
                        <ul id="manage-options" class="collapse">
                            <li ui-sref-active="active">
                                <a ui-sref="manage.create">Create Team</a>
                            </li>
                            <li ui-sref-active='active'>
                                <a ui-sref="manage.modify">Modify teams</a>
                            </li>
                        </ul>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="view" data-toggle="collapse" data-target="#view-options"><i class="fa fa-fw fa-table"></i> Teams you are in</a>
                        <ul id="view-options" class="collapse">
                            <li ui-sref-active="active">
                                <a ui-sref="view.shifts">All teams</a>
                            </li>
                            <li ui-sref-active='active'>
                                <a ui-sref="view.requests">Your Shifts</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <span ui-view="title"></span> <small ui-view="subtitle"></small>
                        </h1>
                        <!--<ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>-->
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <!--flashes-->
                        <div ng-repeat='flash in flashes' class="alert ang{ flash.class }ang alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="flashes.dismiss($index)">&times;</button>
                            <i class="fa ang{ flash.icon }ang"></i> ang{ flash.message }ang
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div ui-view="main"></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>